<%- include('partials/header'); %>
    <div class="container bodyContent">
        <h1>Contact</h1>
        <div class="contact mt-5 p-4 bg-warning text-black rounded mx-auto">
            <h3 class="contact-header mb-4 ms-2">For inquery contact us</h3>
            <p class="contact-info"><i class="fa-solid fa-phone icon"></i>+123344566789</p>
            <p class="contact-info"><i class="fa-regular fa-envelope icon"></i>contact@blog.com</p>
            <p class="contact-info"><i class="fa-solid fa-location-dot icon"></i>Dunder Mifflin, Scranton, Pennsylvania
            </p>
        </div>
    </div>
    </div>
    <%- include('partials/footer'); %>