body {
    min-height: 25rem;
    margin-bottom: 6.25rem;
}

a {
    text-decoration: none;
}

.bodyContent {
    margin-top: 1rem;
}

.footer {
    position: fixed;
    background-color: #000c1d;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

.footer p {
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
}

button.add {
    background-color: #A683E3;
    border-color: transparent;
    border-radius: 50%;
    border-width: 0;
    color: #ffffff;
    font-size: 1.45rem;
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 3rem;
    position: fixed;
    text-align: center;
    bottom: 4rem;
    transition: all ease-in-out 0.2s;
}

button.add:hover {
    border: 0.15rem solid cyan;
}

.addPost {
    text-align: right;
    padding-right: 2.5rem;
}

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 0.75rem;
    letter-spacing: 0.313rem;
}

.navbar-brand {
    font-size: 1.8rem;
    padding: 1rem 0rem 1rem 0rem;
}

li#contact {
    padding-right: 0;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
}

.nav-link:hover {
    color: cyan !important;
}

div.error-box {
    width: 40rem;
}

div.contact {
    width: 28.125rem;
}

.icon {
    padding-right: 1rem;
}

p.contact-info {
    padding-left: 1.5rem;
    font-weight: bold;
}

p.post-date {
    color: blueviolet;
    text-align: right;
    font-style: italic;
}

h1.post-name {
    text-align: center;
}

h5.post-body {
    white-space: pre-line;
}

@media (max-width: 768px) {
    div.error-box {
        width: 20rem;
    }

    div.contact {
        width: 18.75rem;
    }

    .icon {
        padding-right: 0.5rem;
    }

    p.contact-info {
        padding-left: 0.75rem;
    }
}